body {
    margin: 0;
    font-family: Georgia;
    background: #2b1d18;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 50px;
}

/* BUTTONS */
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* SLIDER */
.slider {
    overflow: hidden;
}

.slides {
    display: flex;
    transition: 0.5s;
}

.slides img {
    width: 100%;
}

/* GALLERY */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 10px;
    padding: 20px;
}

/* PARTICLES */
.particle {
    position: fixed;
    top: 100%;
    animation: float 3s linear;
}

@keyframes float {
    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}
